@value unit from "@jetbrains/ring-ui/components/global/global.css";

.build {
  margin-bottom: unit;

  line-height: calc(unit * 3);
}

.buildType {
  display: inline-block;

  padding-left: calc(unit);
}

.status {
  display: block;

  padding-left: calc(unit * 2.5);

  line-height: calc(unit * 2.5);
}

.icon {
  position: relative;
  top: -3px;

  width: 14px;
  margin-right: 2px;
}

.ok {
  color: var(--ring-icon-success-color);
}

.fail {
  color: var(--ring-icon-error-color);
}

.buildTime {
  color: var(--ring-secondary-color);

  font-size: 12px;
}

.investigation {
  font-size: 12px;
}
