@value unit from "@jetbrains/ring-ui/components/global/global.css";

.investigations {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;

  word-wrap: break-word;

  line-height: var(--ring-line-height);
}

.item {
  margin-bottom: unit;
}

.details {
  padding-left: calc(unit * 2);

  list-style: none;
}

.detail {
  padding-bottom: unit;
}

.detailsTitle {
  color: var(--ring-secondary-color);
}

.hiddenOverflow {
  display: block;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}
